<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
	<!--<script src="https://kit.fontawesome.com/650524cba9.js" crossorigin="anonymous"></script>-->
  </head>

  <body>
  	<h1>APP</h1>
    <%= yield %>
  </body>
</html>
